# Pandas Review Part I

##### Import Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

---

## Installing and Using Pandas

In [0]:
pd.__version__

'1.0.4'

---

## Introducing Pandas Objects

### The Pandas Series Object

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [0]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [0]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
data[1]

0.5

In [0]:
data[1:3]

1    0.50
2    0.75
dtype: float64

#### Series as generalized NumPy array

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,                           
                    'New York': 19651127,                           
                    'Florida': 19552860,                           
                    'Illinois': 12882135}        
population = pd.Series(population_dict)        
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
population['California']

38332521

In [0]:
population['Texas': 'New York']

Texas       26448193
New York    19651127
dtype: int64

In [0]:
data = pd.Series(np.random.randint(0, 10, 10))
data

0    2
1    4
2    5
3    4
4    8
5    6
6    7
7    7
8    9
9    1
dtype: int64

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### The Pandas DataFrame Object

In [0]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,             
             'Florida': 170312, 'Illinois': 149995}

In [0]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [0]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [0]:
states.columns

Index(['population', 'area'], dtype='object')

In [0]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [0]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [0]:
data = [{'a': i, 'b': 2**i} for i in range(3)]
data

[{'a': 0, 'b': 1}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [0]:
pd.DataFrame(data)

   a  b
0  0  1
1  1  2
2  2  4

In [0]:
 pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [0]:
pd.DataFrame(np.random.randint(0, 10, size=(3, 2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

   foo  bar
a    7    9
b    1    8
c    0    9

### The Pandas Index Object

In [0]:
ind = pd.Index([2, 3, 4, 5, 11])
ind

Int64Index([2, 3, 4, 5, 11], dtype='int64')

In [0]:
ind[2]

4

In [0]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])        
indB = pd.Index([2, 3, 5, 7, 11])

In [0]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [0]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [0]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

---

## Data Indexing and Selection

### Data Selecting in Series

In [0]:
data = pd.Series(np.random.randint(0, 10, 4),
                 index=list('abcd'))
data

a    7
b    2
c    2
d    9
dtype: int64

In [0]:
data['b']

2

In [0]:
'a' in data

True

In [0]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
list(data.items())

[('a', 7), ('b', 2), ('c', 2), ('d', 9)]

In [0]:
data['a':'c']

a    7
b    2
c    2
dtype: int64

In [0]:
data[0:2]

a    7
b    2
dtype: int64

In [0]:
data[(data > 3) & (data < 7)]

Series([], dtype: int64)

In [0]:
data

a    7
b    2
c    2
d    9
dtype: int64

In [0]:
data.iloc[1]

2

### Data Selection in DataFrame

In [0]:
area = pd.Series({'California': 423967, 'Texas': 695662,                          
                  'New York': 141297, 'Florida': 170312,                          
                  'Illinois': 149995})        
pop = pd.Series({'California': 38332521, 'Texas': 26448193,                         
                 'New York': 19651127, 'Florida': 19552860,                         
                 'Illinois': 12882135})        
data = pd.DataFrame({'area':area, 'pop':pop})        
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [0]:
print(data['area'])
print(data['pop'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [0]:
data.area is data['area']

True

In [0]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [0]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [0]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [0]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [0]:
data.loc[data['density'] > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [0]:
data[data['density'] > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

---

### Operating on Data in Pandas

### UFuncs: Index Preservation

In [0]:
ser = pd.Series(np.random.randint(0, 10, 4))
ser

0    7
1    9
2    1
3    4
dtype: int64

In [0]:
df = pd.DataFrame(np.random.randint(0, 10, (3, 4)),
                  columns=list('ABCD'))
df

   A  B  C  D
0  5  1  0  9
1  9  5  7  6
2  4  4  5  8

In [0]:
np.exp(ser)

0    1096.633158
1    8103.083928
2       2.718282
3      54.598150
dtype: float64

In [0]:
np.sin(df * np.pi  / 4)

              A             B         C             D
0 -7.071068e-01  7.071068e-01  0.000000  7.071068e-01
1  7.071068e-01 -7.071068e-01 -0.707107 -1.000000e+00
2  1.224647e-16  1.224647e-16 -0.707107 -2.449294e-16

### UFuncs: Index Alignment

In [0]:
A = pd.Series([2, 3, 4], index=[0, 1, 2])
B = pd.Series([1, 2, 3], index=[1, 2, 3])
A + B

0    NaN
1    4.0
2    6.0
3    NaN
dtype: float64

In [0]:
A.add(B, fill_value=0)

0    2.0
1    4.0
2    6.0
3    3.0
dtype: float64

In [0]:
A = pd.DataFrame(np.random.randint(0, 10, (2, 2)))
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)))
print(A)
print(B)

   0  1
0  5  2
1  9  8
   0  1  2
0  8  5  8
1  1  1  3
2  7  3  8

In [0]:
A + B

      0    1   2
0  13.0  7.0 NaN
1  10.0  9.0 NaN
2   NaN  NaN NaN

In [0]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

      0    1     2
0  13.0  7.0  14.0
1  10.0  9.0   9.0
2  13.0  9.0  14.0

In [0]:
df = pd.DataFrame(np.random.randint(0, 10, (3, 4)),
                  columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  1  4  1  1
2  6  2 -3  0

In [0]:
something = df.iloc[2, ::2]
something

Q    8
S    2
Name: 2, dtype: int64

In [0]:
type((df - something).iloc[0, 1]) # type of a NaN

numpy.float64

---