
# Pandas Review

##### Import Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

---

## Installing and Using Pandas

In [0]:
pd.__version__

'1.0.3'

---

## Introducing Pandas Objects

### The Pandas Series Object

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.40
3    0.50
dtype: float64

In [0]:
data.values

array([0.25, 0.5 , 0.4 , 0.5 ])

In [0]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
data[1]

0.5

In [0]:
data[1:3]

1    0.5
2    0.4
dtype: float64

#### Series as generalized NumPy array

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,                           
                    'New York': 19651127,                           
                    'Florida': 19552860,                           
                    'Illinois': 12882135}        
population = pd.Series(population_dict)        
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
population['California']

38332521

In [0]:
population['Texas': 'New York']

Texas       26448193
New York    19651127
dtype: int64

In [0]:
data = pd.Series(np.random.randint(0, 10, 10))
data

0    2
1    5
2    2
3    8
4    6
5    2
6    4
7    6
8    7
9    4
dtype: int64

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### The Pandas DataFrame Object

In [0]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,             
             'Florida': 170312, 'Illinois': 149995}

In [0]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [0]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [0]:
states.columns

Index(['population', 'area'], dtype='object')

In [0]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [0]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [0]:
data = [{'a': i, 'b': 2**i} for i in range(3)]
data

[{'a': 0, 'b': 1}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [0]:
pd.DataFrame(data)

   a  b
0  0  1
1  1  2
2  2  4

In [0]:
 pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [0]:
pd.DataFrame(np.random.randint(0, 10, size=(3, 2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

   foo  bar
a    1    9
b    4    7
c    8    3

### The Pandas Index Object

In [0]:
ind = pd.Index([2, 3, 4, 5, 11])
ind

Int64Index([2, 3, 4, 5, 11], dtype='int64')

In [0]:
ind[2]

4

In [0]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])        
indB = pd.Index([2, 3, 5, 7, 11])

In [0]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [0]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [0]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

---

## Data Indexing and Selection

### Data Selecting in Series

In [0]:
data = pd.Series(np.random.randint(0, 10, 4),
                 index=list('abcd'))
data

a    3
b    7
c    7
d    6
dtype: int64

In [0]:
data['b']

7

In [0]:
'a' in data

True

In [0]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
list(data.items())

[('a', 3), ('b', 7), ('c', 7), ('d', 6)]

In [0]:
data['a':'c']

a    3
b    7
c    7
dtype: int64

In [0]:
data[0:2]

a    3
b    7
dtype: int64

In [0]:
data[(data > 3) & (data < 7)]

d    6
dtype: int64

In [0]:
data

a    3
b    7
c    7
d    6
dtype: int64

In [0]:
dat