# Review

In [1]:
import numpy as np
import pandas as pd

In [2]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])

In [7]:
A.nbytes

48

In [4]:
B = np.zeros(3, dtype=[('A', np.int16), ('B', np.float32)])

In [8]:
B.nbytes

18

In [11]:
df = pd.DataFrame({'A' : np.ones(10), 'B' : np.zeros(10), 
                   'C' : np.random.randint(0, 10, size=(10))})

In [12]:
df

     A    B  C
0  1.0  0.0  1
1  1.0  0.0  7
2  1.0  0.0  5
3  1.0  0.0  3
4  1.0  0.0  7
5  1.0  0.0  0
6  1.0  0.0  3
7  1.0  0.0  6
8  1.0  0.0  1
9  1.0  0.0  8

In [18]:
df.index = pd.date_range('2019/09/21', periods=10, freq='MS')

In [29]:
d = dict(df.items())

In [31]:
d['A']

2019-10-01    1.0
2019-11-01    1.0
2019-12-01    1.0
2020-01-01    1.0
2020-02-01    1.0
2020-03-01    1.0
2020-04-01    1.0
2020-05-01    1.0
2020-06-01    1.0
2020-07-01    1.0
Freq: MS, Name: A, dtype: float64